body {
  font-family: Calibri, sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1.5rem 0;
}

section, main {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2rem;
  border-radius: 10px;
  max-width: 900px;
  margin: 2rem auto;
}

h1, h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  text-align: center;
}

h2 {
  color: #444;
  border-bottom: 2px solid #c79c5a;
  padding-bottom: 0.5rem;
}

footer {
  text-align: center;
  background: #222;
  color: #bbb;
  padding: 1rem;
}

/* Portfolio Section */
.portfolio {
  padding: 40px 20px;
  text-align: center;
}

.portfolio h

